@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: rgb(223, 223, 223); */
  height: 100vh;
  font-family: "Inter", sans-serif;
}

h1,
h3 {
  font-family: "Aclonica", sans-serif;
}

.logo {
  font-family: "Aclonica", sans-serif;
}

/* for hiding default rauting path */
.leaflet-routing-container {
  display: none !important;
}