@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.admin-dashboard-page {
  .admin-dashboard-page-container {
    .admin-dashboard-page-title {
      @include title;
      background-color: #dfe7fd;
    }

    .admin-content-wrapper {
      display: grid;
      grid-template-columns: 15% 83%;
      column-gap: 1rem;

      .sidebar {
        background-color: #eaf4f4;
        @include shadow2;
        margin-top: 1rem;
      }

      .main {
        background-color: #f8f9fa;
        @include shadow2;
        margin-top: 1rem;
      }
    }
  }
}
