// Fonts
$font: 'Roboto Condensed', sans-serif;
$font-family: 'Ubuntu Mono', monospace;

// Font Color
$green: #228b22;
$blue: #4b4bf5;
$red: #ff2a04;
$tomato: #fd7b65;
$orange: #f9d491;
$black: #212529;
$white: #ffffff;
$gray: #808080;
$table_border: #ddd;

// hover
$button-hover: #86bae5;

// Fonts Size
$sfs: 0.8rem;
$nfs: 1rem;
$afs: 1.2rem;
$aafs: 1.6rem;
$lfs: 2rem;

// Font Weight
$sfw: 200;
$afw: 400;
$aafw: 600;
$lfw: 800;

// Background
$navbar-bg: #dfe7fd;
$header: #f0f8ff;
$priest-header-bg: #e6e6facc;
$main-bg: #f8f8ff;
$section-bg: #dedef8;
$aside-bg: #f0f8ff;
$footer-bg: #9fafdf;
$button-bg: #4682b4;
$editbg-bg: #ebebf8;
$userSidebar-bg: #dbb1f8;
$priestSidebar-bg: #dedef8;
$google-button-bg: #d6ebfc;
$tab-bg: #edf0f3;
$modal-bg: #edede9d0;

// Hover
$userSidebar-hover: #e4c7f9;
$priestSidebar-hover: #cfcffb;
$google-button-hover: #bedcf5;
$tab-hover: #d5e6f4;

// padding
$buttonPadding: 0.2rem;
$boxPadding: 0.5rem 1rem;
$textPadding: 0.3rem 0.5rem;

// border radius
$radius: 4px;
$borderColor: #ced4da;

// Width View
$desktop: 85%;
$laptop: 90%;
$tablet: 95%;
$mobile: 98%;
