@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.bookshelves-table-container {
  position: relative;
  .bookshelves-table-title {
    @include subTitle;
  }

  .add-new-bookshelf {
    @include flexSpaceBetween;

    .add-new-bookshelf-title {
      @include subTitle;
    }

    .add-new-bookshelf-btn {
      @include button2;
    }
  }
}
.action-wrapper {
  @include flexRow;

  .delete {
    @include deleteIcon;
  }

  .edit {
    @include editIcon;
  }
}

.MuiDataGrid-cell {
  @include flexCenter;
}

// Basic button styling
.download-button {
  position: absolute;
  left: 50%;
  top: 2.5rem;
  background-color: #e2eafc;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  text-align: center;
  &:hover {
    background-color: #d7e3fc;
  }

  &:active {
    background-color: #d7e3fc;
  }

  // Focus state
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #d7e3fc;
  }
}
